<!DOCTYPE html>
<html>
<head>
    <title>Renewable Energy REST Web Application</title>
    <link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
    <body>
        <header>Welcome to the Renewable Energy REST Web Application!</header>
        <div class="project-info">
            <h2>Project Information</h2>
            <p>This project consists of a REST web application that provides the client with the ability to retrieve information about developments related to renewable energy production for and across countries. The application uses an existing webservice and an own data-centric webservice to gather and expose data via endpoints. The service allows for notification registration using webhooks and is dockerized and deployed using an IaaS system.</p>
            <p>This service does not provide any functionality on the root path level. Please press one of the paths below:</p>
            <p>Add this <b>"?information=true"</b> query to the url for more information about how to use each endpoint. </p>
        </div>
        <section class="endpoints">
            <div class="endpoint" onclick="location.href='/energy/v1/status/?information=true'">
                <h3>Status</h3>
                <p>This endpoint indicates the availability of all individual services this service depends on, and provides information about the total memory usage on the user's computer, the registered webhooks and the uptime of the service.</p>
                <p></p>
            </div>
            <div class="endpoint" onclick="location.href='/energy/v1/notifications/?information=true'">
                <h3>Notifications</h3>
                <p>This endpoint enables users to register webhooks (single or multiple) that are triggered by the service based on specified events.</p>
            </div>
            <div class="endpoint" onclick="location.href='/energy/v1/renewables/history?information=true'">
                <h3>History</h3>
                <p>This endpoint returns historical percentages of renewables in the energy mix, including individual levels, and mean values for individual or selections of countries.</p>
            </div>
            <div class="endpoint" onclick="location.href='/energy/v1/renewables/current?information=true'">
                <h3>Current</h3>
                <p>This endpoint returns the latest percentages of renewables in the energy mix.</p>
            </div>
        </section>
    </body>
</html>
